* {
  margin: 0;
  padding: 0;
  font-family: Heebo;
  list-style: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* outline: 1px solid blue; */
}
body {
  background-color: #000;
  color: #fff;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 60px;
  @media (max-width: 1366px) {
    max-width: 1200px;
  }
  @media (max-width: 1200px) {
    max-width: 1024px;
  }
  @media (max-width: 1024px) {
    max-width: 768px;
    padding: 0 40px;
  }
  @media (max-width: 768px) {
    max-width: 640px;
  }
  @media (max-width: 640px) {
    max-width: 475px;
    padding: 0;
  }
  @media (max-width: 475px) {
    max-width: 350px;
    padding: 0;
  }
}
a {
  font-size: clamp(0.688rem, 0.57rem + 0.54vw, 1rem);
  font-weight: 400;
}
p {
  font-size: clamp(0.688rem, 0.476rem + 0.97vw, 1.25rem);
}
h1 {
  font-size: clamp(1.563rem, 1.092rem + 2.15vw, 2.813rem);
}
h3 {
  font-size: clamp(1.125rem, 0.966rem + 0.8vw, 1.563rem);
  font-weight: 370;
}
h5 {
  font-size: clamp(0.688rem, 0.523rem + 0.75vw, 1.125rem);
  font-weight: 400px;
}
button {
  font-size: clamp(0.688rem, 0.476rem + 0.97vw, 1.25rem);
  font-weight: 500px;
  padding: 8px 15px;
}

/* Header */
#header {
  padding-block: 40px;
}
s .header {
  padding: 20px 25px;
}
.header-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-ai {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
.header-start h1 {
  font-size: 27px;
}
.header-ai a {
  color: #fff;
}
.header-start .header-icon {
  color: #fff;
}
.header-icon {
  display: none;
}
/* Header */

/* META */
#meta {
  padding-block: 40px;
}
.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.meta-works {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 420px;
  h1 {
    font-size: clamp(0.938rem, -0.003rem + 4.3vw, 3.438rem);
  }
}
.meta-works button {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100px;
  border-radius: 4px;
  border-color: #fff;
}
.meta-works h1 span {
  background-image: linear-gradient(
    94deg,
    rgba(209, 14, 209, 1) 24%,
    rgba(16, 163, 218, 1) 77%
  );
  color: transparent;
  background-clip: text;
}
.meta-works p {
  font-size: 15px;
  max-width: 400px;
  width: 100%;
}
.meta-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.meta-wool {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  .how {
    background: none;
    border: 1px solid violet;
  }
}

.meta-wool button {
  color: #fff;
  font-size: 15px;
  padding: 9px 5px;
  background: #d10ed1;
  background: linear-gradient(
    94deg,
    rgba(209, 14, 209, 1) 24%,
    rgba(16, 163, 218, 1) 77%
  );
}
/* .meta-wool:last-child  {
  button{ */
/* background: none;
    border: 1px solid violet; */
/* }
} */

.meta-dop-parent {
  display: flex;
  gap: 20px;
}
.meta-dop {
  display: flex;
  flex-direction: column;
}

.meta-dop h5 {
  font-size: 20px;
}
.meta-dop p {
  font-size: 15px;
}
.meta {
  display: flex;
  justify-content: space-between;
}
.meta .img {
  max-width: 450px;
  img {
    width: 100%;
  }
}

/* META */
/* DODO */
#dodo {
  padding: 40px;
}
.dodo-klamp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.dodo-kork {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.dodo-klamp h4 {
  font-size: 29px;
  color: white;
  /* color: linear-gradient(
    221deg,
    rgba(214, 92, 141, 1) 0%,
    rgba(50, 27, 224, 1) 34%,
    rgba(76, 74, 181, 1) 17%,
    rgba(31, 31, 240, 1) 54%,
    rgba(27, 44, 117, 1) 66%,
    rgba(36, 119, 173, 1) 86%,
    rgba(117, 232, 255, 1) 97%
  ); */
}
.dodo-kork span {
  background-image: linear-gradient(
    94deg,
    rgba(209, 14, 209, 1) 24%,
    rgba(16, 163, 218, 1) 77%
  );
  color: transparent;
  background-clip: text;
}
.dodo-kork p {
  width: 100%;
}
.dodo-klamp img {
  max-width: 530px;
  width: 100%;
}
.dodo-kork button {
  padding: 8px 9px;
  border-radius: 4px;
  color: #fff;
  /* background: #d65c8d; */
  border: 1px solid violet;
  background: linear-gradient(
    94deg,
    rgba(209, 14, 209, 1) 24%,
    rgba(16, 163, 218, 1) 77%
  );
}
/* DODO */
/* MONGO */
/* #mongo {
  padding-block: 40px;
}
.mongo-hol {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  font-size: 28px;
}
.mongo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
}
.mongo-start {
  display: flex;

  flex-wrap: wrap;
  gap: 20px;
}
.mongo-imge {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}

.mongo-imge button {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 15px;
  border-radius: 4px;
  border-color: #fff;
  flex-wrap: wrap;
}
.mongo-card {
  display: flex;
  gap: 20px;
}
.mongo-imge {
  width: 370px;
  height: 400px;
}
.mongo-imge img {
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}
.mongo-imge p {
  font-size: 16px;
}
.mongo-hol p {
  width: 100%;
}
.mongo-imge button {
  background: #d65c8d;
  background: #d10ed1;
  background: linear-gradient(
    94deg,
    rgba(209, 14, 209, 1) 24%,
    rgba(16, 163, 218, 1) 77%
  );
  color: #fff;
  padding: 5px 3px;
} */
/* MONGO */
/* FONS */
#mongo {
  padding-block: 40px;
  .mongo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .mongo-title {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      width: 100%;
      h2 {
        span {
          background-image: linear-gradient(
            94deg,
            rgba(209, 14, 209, 1) 24%,
            rgba(16, 163, 218, 1) 77%
          );
          color: transparent;
          background-clip: text;
        }
      }
      p {
        max-width: 470px;
        width: 100%;
      }
    }
  }
  .mongo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 36px;
    .mongo-boxs {
      background-color: #090823;
      border-radius: 0 20px 0 20px;
      max-width: 374px;
      padding: 15px 15px 30px 15px;
      height: 434px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .mongo-box {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 15px;
      max-width: 336px;
      img {
        width: 100%;
      }
      .mongo-text {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
      }
      .mongo-btn {
        display: flex;
        align-items: center;
        gap: 20px;
        button:last-child {
          background: none;
          border-radius: 5px;
          border: 1px solid violet;
          color: #ffffff;
          background-image: linear-gradient(
            94deg,
            rgba(209, 14, 209, 1) 24%,
            rgba(16, 163, 218, 1) 77%
          );
        }
        button:first-child {
          background: none;
          border-radius: 5px;
          border: 1px solid violet;
          color: #ffffff;
          background-image: linear-gradient(
            94deg,
            rgba(209, 14, 209, 1) 24%,
            rgba(16, 163, 218, 1) 77%
          );
        }
      }
    }
  }
}
#fons {
  padding-block: 40px;
}
.fons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}
.fons-for {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.fons-img .main-bg {
  width: 100%;
}
.fons-for h2 {
  font-size: 31px;
}
.fons-for p {
  font-size: 21px;
}
.fons-for p {
  width: 100%;
}
/* FONS */
/* FOOL */
#fool {
  padding-block: 40px;
  background: #090823;
}
.fool {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}
.fool-bor {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  max-width: 320px;
}
.fool-bor img {
  width: 120px;
}
.fool-fox a {
  color: #fff;
}
.fool-gool {
  display: flex;
  align-items: center;
  max-width: 370px;
  width: 100%;
  justify-content: space-between;
}
.fool-fox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.fool-fox h4 {
  font-size: 22px;
}
.fool-pro {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fool-pro a {
  color: #fff;
}
.fool-pro h4 {
  font-size: 22px;
}
.fool-sai {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fool-op {
  max-width: 300px;
  display: flex;
  align-items: center;
}
/* .fool-sai {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 100px;
  gap: 10px;
} */
.fool-sai {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.fool-sai a {
  color: #fff;
}
.fool-sai h4 {
  font-size: 22px;
}

/* FOOL */
